/*============================================================
========================== SECTION ===========================
=============================================================*/
.section-container {
    margin: 1rem 1rem;
}

.section-heading {
    .section-heading-title {
        font-family: var(--title-font);
        font-size: 30px;
        font-weight: 500;
        color: var(--text-color)
    }

    .section-heading-subtitle {
        font-size: 17px;
        font-weight: 300;
        color: var(--text-color)
    }
}

/*============================================================
======================== SECTION END =========================
=============================================================*/

/*============================================================
========================= RESPONSIVE =========================
=============================================================*/
@media screen and (width > 1200px) {

    .section-container {
        margin: 2rem 0rem;
    }

}
/*============================================================
======================== RESPONSIVE END ======================
=============================================================*/