.text-card-container {
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--card-basic-color);
    box-shadow: var(--box-shadow-1);
}

/*============================================================
========================== RESPONSIVE ========================
=============================================================*/

/*============================================================
======================== RESPONSIVE END ======================
=============================================================*/