/*============================================================
=========================== TITLES ===========================
=============================================================*/
.title-center {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    color: var(--text-color);

    .title-simple-center {
        font-family: var(--title-font);
        font-size: 30px;
        font-weight: 500;
        
    }
    .sub-title-center {
        width: auto;
        font-size: 17px;
        font-weight: 300;
        position: relative;
    }
    .sub-title-center::before {
        position: absolute;
        top: 13px;
        content: '';
        width: 60px;
        height: 1px;
        background: var(--text-color);
        transform: translateX(-70px);
    }

    .sub-title-center::after {
        position: absolute;
        top: 13px;
        content: '';
        width: 60px;
        height: 1px;
        background: var(--text-color);
        transform: translateX(10px);
    }
}
/*============================================================
========================= TITLES END =========================
=============================================================*/
