/*============================================================
============================= MAIN ===========================
=============================================================*/
.main-container {
    flex-grow: 1;
}

.main-max-width {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*============================================================
=========================== MAIN END =========================
=============================================================*/
